In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_csv('crop_production.csv')    #data preprocessing extension csv file

Train test split

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
a=df

In [6]:
b = df['Production']

In [7]:
len(a.columns)

7

In [8]:
a.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [10]:
a_train, a_test, b_train, b_test = train_test_split(a, b, test_size = 0.3, random_state = 42)
print(a_train)
print(a_test)
print(b_train)
print(b_test)

               State_Name District_Name  Crop_Year       Season  \
198537      Uttar Pradesh          AGRA       2007  Rabi
87970           Karnataka         GADAG       2013  Whole Year
71570    Himachal Pradesh      BILASPUR       2002  Rabi
10773   Arunachal Pradesh         LOHIT       2001  Whole Year
44519               Bihar         SIWAN       2005  Whole Year
...                   ...           ...        ...          ...
119879     Madhya Pradesh        SEHORE       1998  Rabi
103694     Madhya Pradesh       BARWANI       1999  Whole Year
131932        Maharashtra        NANDED       2002  Rabi
146867             Odisha        ANUGUL       1999  Kharif
121958     Madhya Pradesh       SHEOPUR       2003  Whole Year

                     Crop     Area  Production
198537              Onion     53.0       741.0
87970            Turmeric      1.0         5.0
71570   Rapeseed &Mustard    314.0       165.0
10773           Sugarcane     16.0       160.0
44519        Sweet potato     55.0       860.0
...                   ...      ...         ...
119879               Gram  92100.0    113100.0
103694              Onion    609.0      3587.0
131932              Maize    800.0       900.0
146867        Castor seed    220.0       110.0
121958             Tomato    258.0         0.0

[172263 rows x 7 columns]
            State_Name District_Name  Crop_Year       Season  \
96862        Karnataka         UDUPI       2005  Rabi
109879  Madhya Pradesh       GWALIOR       2003  Whole Year
1543    Andhra Pradesh      CHITTOOR       2010  Rabi
4688    Andhra Pradesh       KRISHNA       2014  Rabi
230491   Uttar Pradesh     SULTANPUR       2011  Rabi
...                ...           ...        ...          ...
49601     Chhattisgarh          DURG       2014  Rabi
225688   Uttar Pradesh    RAE BARELI       2010  Summer
19980            Assam        KAMRUP       1998  Rabi
2876    Andhra Pradesh        GUNTUR       2005  Rabi
94849        Karnataka    RAMANAGARA       2012  Kharif

                     Crop      Area  Production
96862          Horse-gram    1122.0       836.0
109879            Brinjal     194.0         0.0
1543              Sesamum     334.0       118.0
4688               Tomato     538.0      7289.0
230491          Coriander      59.0        33.0
...                   ...       ...         ...
49601               Wheat    6364.0      7367.0
225688  Moong(Green Gram)     489.0       224.0
19980               Wheat    6431.0      6940.0
2876                 Urad  100125.0     78298.0
94849               Onion      10.0        53.0

[73828 rows x 7 columns]
198537       741.0
87970          5.0
71570        165.0
10773        160.0
44519        860.0
            ...
119879    113100.0
103694      3587.0
131932       900.0
146867       110.0
121958         0.0
Name: Production, Length: 172263, dtype: float64
96862       836.0
109879        0.0
1543        118.0
4688       7289.0
230491       33.0
           ...
49601      7367.0
225688      224.0
19980      6940.0
2876      78298.0
94849        53.0
Name: Production, Length: 73828, dtype: float64

In [11]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seabornInstance
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
a_train = sc.fit_transform(a_train)
a_test = sc.transform(a_test)

RandomForestRegressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor 
regr = RandomForestRegressor(max_depth=2,random_state = 0, n_estimators=100)
regr.fit(a_train, b_train)
b_pred = regr.predict(a_test)

from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score

print("MSE =', mse(b_pred, b_test))
print("MAE =', mae(b_pred, b_test))
print("R2 Score =', r2_score|(b_pred, b_test))