In [ ]:
import numpy as np
np.seterr(divide='ignore', invalid='ignore')
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df = pd.read_csv('crop_production.csv')

In [28]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [30]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

State_Name = le.fit_transform(df.State_Name)
District_Name = le.fit_transform(df.District_Name)
Crop_Year = le.fit_transform(df.Crop_Year)
Crop = le.fit_transform(df.Crop)
Season = le.fit_transform(df.Season)
df['State_Name'] = State_Name
df['District_Name'] = District_Name
df['Crop_Year'] = Crop_Year
df['Crop'] = Crop
df['Season'] = Season

In [31]:
df.head()

   State_Name  District_Name  Crop_Year  Season  Crop    Area  Production
0           0            427          3       1     2  1254.0      2000.0
1           0            427          3       1    74     2.0         1.0
2           0            427          3       1    95   102.0       321.0
3           0            427          3       4     7   176.0       641.0
4           0            427          3       4    22   720.0       165.0

In [3]:
from sklearn.model_selection import train_test_split

In [5]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

NameError: name 'df' is not defined

In [2]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=100)

NameError: name 'train_test_split' is not defined

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score , classification_report, mean_squared_error, r2_score
forest = RandomForestRegressor(n_estimators=1000,
                               criterion='mse',
                               random_state=1,
                               n_jobs=-1)
forest.fit(X_train, y_train)
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

print('MSE train: %.3f, test: %.3f' %(
       mean_squared_error(Y_train, y_train_pred), 
       mean_squared_error(Y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' %(
       r2_score(Y_train, y_train_pred), 
       r2_score(Y_test, y_test_pred)))

In [ ]:
print(forest.score(X_test,Y_test))

In [ ]:
forest.predict(X_test)

In [ ]:
X_test

In [ ]:
forest.predict([[1,5,5,3.40,37,40,46,1359.0]])

In [ ]:
state = input('enter state: ')
district = input('enter district: ')
year = input('enter year: ')
season = input('enter season: ')
crop = input('enter crop: ')
area = input('enter area: ')

out_1 = forest.predict([[float(state),
        float(district),
        float(year),
        float(season),                
        float(crop),
        float(area)]])
print(out_1)
print('crop yield prediction:',out_1)

----------------------------------------------------------------------------